body{
    background-color: #f2f4f7;
}
footer{
    background-color: white;
    height: 200px;
   position: relative;
   top: 300px;
   font-family: Arial, Helvetica, sans-serif;
}
#foot{
    text-decoration: none;
}
.head{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #1877f2;
    font-size: 40px;
    text-align: center;
    font-weight: bolder;
    position: relative;
    top: 200px;
}
.box{
    height: 305px;
    width: 410px;
    border:  gray;
    position: relative;
    top: 200px;
    margin: auto;
    border-radius: 5px 5px 5px 5px;
    box-shadow:  2px 2px 3px 3px rgb(211, 209, 209);
}
.logintext{
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: auto;
    font-weight:10px;
    text-align: center;
    position: relative;
    top: 15px;
}
#enterbox{
    transform: scale(1.5);
    margin: auto;
    position: relative;
    top: 50px;
    left: 75px;
    width: 250px;
    height: 28px;
    border: 1px solid gainsboro;
    border-radius: 5px 5px;
}
#enterbox2{
    transform: scale(1.5);
    margin: auto;
    position: relative;
    top: 80px;
    left: 75px;
    width: 250px;
    height: 28px;
    border: 1px solid gainsboro;
    border-radius: 5px 5px;
}
button{
   transform: scale(2);
   color: white;
   margin: auto;
   position: relative;
   top: 120px;
   left: 105px;
   font-weight: bolder;
  background-color:#1877f2;
  border: none;
  width: 193px;
  height: 25px;
  border-radius: 5px 5px;
  text-decoration: none;
  text-decoration: none;
}
#link1{
    position: relative;
    top: 180px;
    right: 120px;
    text-decoration: none;
}
#link2{
    position: relative;
    top: 180px;
    right: 108px;
    text-decoration: none;
   
}
#login{
    text-decoration: none;
    color: white;
}